@import "../../App.css";

html,
body {
  height: 100%;
  background-color: #674ab1;
}

#root {
  height: 100%;
  background-image: url("./assets/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.Challenge3 {
  /* width: 100; */
}
