@font-face {
  font-family: Poppins-Regular;
  src: url("../../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../../fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-Light;
  src: url("../../fonts/Poppins-Light.ttf");
}

html,
body {
  height: 100%;
  background-color: #674ab1;
}

#root {
  height: 100%;
  background-image: url("./assets/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.Challenge3 {
  /* width: 100; */
}
