@import "./Challenge3.css";

.Content {
  margin: 0 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustrationMockup {
  display: inline-block;
  margin: 0 2em 0 0;
  width: 60%;
  max-width: 600px;
}

.upper {
}

.detailsSection {
  /* margin: 0 0 0 2em; */
  max-width: 500px;
  color: white;
}

.textSection {
  /* margin-top: 200px; */
}

button {
  margin: 1em 0;
  border: 1 solid grey;
  background-color: white;
  border-radius: 20px;
  color: black;
  padding: 1em 3em;
}

.socialLinks {
  margin-top: 4em;
  text-align: right;
}

.socialLink {
  margin: 0 1em;
  width: 2em;
  color: white;
  border: 1 solid white;
  border-radius: 100%;
}

@media screen and (max-width: 800px) {
  .illustrationMockup {
    margin: 0;
    width: 100%;
    max-width: 350px;
  }

  .textSection {
    margin: 0;
  }
  .Content {
    flex-direction: column;
  }
}
