@import "./Challenge3.css";

.Content {
  margin: 0 5em;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.illustrationMockup {
  display: inline-block;
  margin: 0 2em 0 0;
  width: 60%;
  height: 100%;
  max-width: 600px;
}

.detailsSection {
  /* margin: 0 0 0 2em; */
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-height: 428px;
  color: white;
}

.textSection {
  font-family: Poppins-Regular;
}

.textSection h1 {
  font-size: 2em;
}

button {
  margin: 1em 0;
  border: 0.5 solid darkslategrey;
  background-color: white;
  border-radius: 30px;
  color: grey;
  padding: 1em 4em;
}

.socialLinks {
  margin-top: auto;
  text-align: right;
}

.socialLink {
  margin: 0 1em;
  width: 2em;
  color: white;
  border: 1 solid white;
  border-radius: 100%;
}

@media screen and (max-width: 800px) {
  .illustrationMockup {
    margin: 0;
    width: 100%;
    max-width: 350px;
  }

  .textSection {
    margin: 0;
  }

  .detailsSection {
    margin-bottom: 4em;
  }

  .Content {
    flex-direction: column;
    align-items: center;
  }

  .socialLinks {
    margin-top: max(50px, 10%);
  }
}
