header {
  z-index: 1;
  /* padding: 5px; */
  width: 100%;
  height: 4em;
  position: fixed;
  background-color: whitesmoke;
  border-bottom: 1px solid lightgrey;
}

.headerContent {
  width: 97%;
  margin: 1.5em auto;
}

header nav {
  text-align: center;
}

header a {
  /* list-style-type: none; */
  padding: 5px;
  display: inline;
  /* border: 20px; */
  border: 1px solid black;
  margin: 0 10px;
  background-color: white;
  border-radius: 5px;
}

.headerTitle {
  /* margin-top: 4px; */
  /* margin-right: 100px; */
  float: left;
  /*
    text-align: center;
    line-height: 100%;
    height: 100%;
    padding: 10px; */
  /* margin: 0;
    text-align: justify;
    background-color: #ddd; */
}

.search {
  float: right;
  /* margin-right: 50px; */
}
