body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

header {
  z-index: 1;
  /* padding: 5px; */
  width: 100%;
  height: 2.5em;
  position: fixed;
  background-color: rgb(223, 240, 250);
}

.headerContent {
  width: 97%;
  margin: 0.5em auto;
}

header ul {
  display: inline;
}

header li {
  /* list-style-type: none; */
  display: inline;
  border: 20px;
  margin: 0 10px;
  background-color: rgb(182, 182, 182);
  border-radius: 5px;
}

.headerTitle {
  /* margin-top: 4px; */
  /* margin-right: 100px; */
  float: left;
  /*
  text-align: center;
  line-height: 100%;
  height: 100%;
  padding: 10px; */
  /* margin: 0;
  text-align: justify;
  background-color: #ddd; */
}

main {
  padding-top: 2.5em;
}

#search {
  float: right;
  /* margin-right: 50px; */
}

li:hover {
  background-color: rgb(220, 105, 105);
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  /* margin-right: -1px;
  margin-top: -1px; */
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  padding: 1000px 0px 0px 0px;
}

.game-board {
  display: inline;
}

.game-info {
  margin-left: 20px;
}

.reset-button {
}
