body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
}

.header {
  padding: 5px;
  height: 50px;
  width: 100%;
  position: fixed;
  background-color: #d4bd4b;
  box-shadow:20px 20px 50px 10px pink inset;  
}

.header-icon {
  height: 14px;
  width: 14px;
}

img {
  width: 100%
}

.header ul li {
  display: inline-block;
  /* width: 10% */
}

li {
  border: 20px;
  margin: 5px;
  background-color: #ddd;
}

li:hover {
  background-color: #fff;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  /* margin-right: -1px;
  margin-top: -1px; */
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  padding: 77px 0px 0px 0px;
}

.game-board {
  display: inline;
}

.game-info {
  margin-left: 20px;
}

#top-img {
  padding-top: 4em;
}
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
